<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User info details</title>
    <style>
        body{
            background-color: rgb(109,109,109);
        }
        table{
            background-color: cornsilk;
        }
    </style>

</head>
<body>
<div th:replace="fragments/fragment :: goBack"></div>
<div id="maindiv">
    <div class="card">
        <div class="card-body">
            <div>
                <table border="1" cellpadding="10">
                    <br/><br/>
                    <tr>
                        <th>Full name</th>
                        <th>User name</th>
                        <th>password</th>
                        <th>cpr</th>
                        <th>Phone</th>
                        <th>TestCenterID</th>
                        <th>VaccinCenterID</th>
                        <th>TestStatusID</th>
                        <th>VaccinStatusID</th>
                        <th>VaccinNameID</th>

                    </tr>
                    <tr th:each="t1 : ${userList}">
                        <td th:text="${t1.getName()}"></td>
                        <td th:text="${t1.getUserName()}"></td>
                        <td th:text="${t1.getPassword()}"></td>
                        <td th:text="${t1.getCpr()}"></td>
                        <td th:text="${t1.getPhone()}"></td>
                        <td th:text="${t1.getTcID()}"></td>
                        <td th:text="${t1.getVcID()}"></td>
                        <td th:text="${t1.getTsID()}"></td>
                        <td th:text="${t1.getVsID()}"></td>
                        <td th:text="${t1.getVacNameID()}"></td>
                        <td> <a th:href="@{/delete/{id}(id=${t1.userID})}" class="btn btn-primary"><button>PickMe</button></a>
                        </td>
                    </tr>
                </table>
            </div>
            <hr>

        </div>
    </div>
</div>
</body>
</html>