<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<body>

<div th:fragment="mynavbar">
    <nav class="navbar navbar-light navbar-expand-lg primary">
        <a class="navbar-brand" href="/index">Covid 19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul  class="navbar-nav">

                <li class="nav-item">
                    <a style="color: black !important" class="nav-link" th:href="@{/makeAppointment}">Make an appointment</a>
                </li>
                <li class="nav-item">
                    <a style="color: black !important" class="nav-link" th:href="@{/getCoronaPass}">Get corona pass</a>
                </li>
                <li class="nav-item">
                    <a style="color: black !important" class="nav-link" th:href="@{/}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="bootstrap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</div>



<div th:fragment="testCenter">

    <table border="1" cellpadding="10">
        <tr>
            <th>Test center id</th>
            <th>Test center name</th>
        </tr>
        <tr>
            <td> 1</td>
            <td> CPH-Center</td>
        </tr>
        <tr>
            <td> 2</td>
            <td> CPH-North</td>
        </tr>
        <tr>
            <td> 3</td>
            <td> CPH-South</td>
        </tr>
        <tr>
            <td> 4</td>
            <td> CPH-East</td>
        </tr>
        <tr>
            <td> 5</td>
            <td> CPH-West</td>
        </tr>
    </table>



</div>


<div th:fragment="dateFormater">


    <script>
        $(function () {
            var dtToday = new Date();
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate() + 2;
            var day1 = dtToday.getDate() + 1;
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();
            var maxDate = year + '-' + month + '-' + day;
            var minDate = year + '-' + month + '-' + day1;
            $('#mydate').attr('max', maxDate);
            $('#mydate').attr('min', minDate);


        });


    </script>
</div>


<div th:fragment="cookies">


    <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"dark","language":"en","cookies_policy_url":"https://krishnaamen3.wixsite.com/covid-19"});
        });
    </script>
</div>

<div th:fragment="cssDash">
    <style>
        .col-m-6{
            margin-left: 20px;
            box-shadow: blue;
            border-width: thick;
            text-align: center;
        }
        #div1 {
            background-color: rgb(106,106,106);
            margin-top:5%;
            margin-left: 10%;
            margin-right: 10%;
            align-self: center;
            text-align: center;

        }
        .card-body{
            background-color: papayawhip;
        }
        h1{
            color: black;
        }

        body{
            background-color: rgb(106,106,106);
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</div>
<div th:fragment="secretaryNavBar">
    <nav class="navbar navbar-light navbar-expand-lg primary">
        <a class="navbar-brand" href="/index">Covid 19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="secretaryNavBar">
            <ul  class="navbar-nav">

                <li class="nav-item">
                    <a style="color: black !important" class="nav-link" th:href="@{/secretaryDash}">Home page</a>
                </li>
                <li class="nav-item">
                    <a style="color: black !important" class="nav-link" th:href="@{/}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="goBack">
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
</div>


</body>
</html>