<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make an appointment</title>
    <div th:replace="fragments/fragment :: bootstrap"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #maindiv {
            margin: 10%;
            color: blue;
            font-size: medium;
            font-weight: bold;
        }

        body {
            background-color: rgb(109, 109, 109);
        }
    </style>
</head>
<body>
<div th:replace="fragments/fragment :: secretaryNavBar"></div>
<br>
<hr>

<br>
<hr>

<div id="maindiv">
    <div class="card">
        <div class="card-body">
            <hr>
            <div><a style="float: left" th:href="@{/}">
                <button >Log Out</button>
            </a>
                <input style="float: right" type="button" value="Go back!" onclick="history.back()"></div>
            <br>

            <hr>


<div>
            <h1 style="text-align: center"> Make an appointment </h1>
            <hr>
            <div th:replace="fragments/fragment :: testCenter">
            </div>
            <br>
            <hr>
            <table>


                <form method="get" action="/DirectAppointment">
                    <div class="form-group">
                        <label>Pick the date</label>
                        <input type="date" id="mydate" name="mydate" placeholder="choose date" required>
                    </div>
                    <div>
                        <label>Enter cpr</label>
                        <input type="text" id="cpr" name="cpr" placeholder="choose date" pattern="[0-9]{1}[0-9]{9}" required>
                    </div>

                    <div>
                        <label>Test center ID</label>
                        <input min="1" max="5" type="number" id="tcID" name="tcID" placeholder="testCenterID" required>
                    </div>

                    <div class="form-group">
                        <label>Choose time: </label>
                        <select select id="time" name="time" required>
                            <option th:each="p : ${timeSlots}" th:value="${p.time}" th:text="${p.time}"/>
                        </select>
                    </div>
                    <hr>
                    <button style="float: left" type="submit" class="btn btn-primary">Submit</button>
                    <br>

                </form>
                <hr>

                <hr>

            </table>


        </div>
    </div>

</div>
</div>
    <script>
        $(function () {
            var dtToday = new Date();
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate() + 2;
            var day1 = dtToday.getDate() + 1;
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();
            var maxDate = year + '-' + month + '-' + day;
            var minDate = year + '-' + month + '-' + day1;
            $('#mydate').attr('max', maxDate);
            $('#mydate').attr('min', minDate);


        });


    </script>

</body>
</html>