<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <div th:replace="fragments/fragment :: bootstrap"></div>
    <title>Main page</title>
    <div th:replace="fragments/fragment :: cssDash"></div>

<style>

</style>
</head>
<body>
<div id="div1">
    <hr>
    <marquee><h3 style="color: blue">Secretary dashboard</h3></marquee>
    <hr>
    <div th:replace="fragments/fragment :: goBack"></div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Search user by name</h1>
                <a th:href="@{/searchByName}" class="btn btn-primary">Click Me</a>
            </div>
    </div>
    <hr>
    <hr>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Add User</h1>
                    <a th:href="@{/signUp}" class="btn btn-primary">Click Me</a>
                </div>
            </div>
    <hr>
    <hr>
    <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Make Direct Appointment</h1>
                    <a th:href="@{/makeDirectAppointment}" class="btn btn-primary">Click Me</a>
                </div>
            </div>
    <hr>
    <hr>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Update user</h1>
                    <a th:href="@{/UpdateUserHome}" class="btn btn-primary">Click Me</a>
                </div>
            </div>
</div>

</div>
</div>
</body>
</html>