<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <div th:replace="fragments/fragment :: bootstrap"></div>
    <div th:replace="fragments/fragment :: cssDash"></div>

</head>
<body style="background-color: darkcyan">


<div th:replace="fragments/fragment :: mynavbar"></div>
<hr>
<div th:replace="fragments/fragment :: goBack"></div>
<br>
<hr>
<div  id="div1">

            <div class="card">
                <div class="card-body">
                    <hr>
                    <h6 style="color:#FF00FF" th:text=" 'User name:- ' + ${currentUser} + '  Your selected location is:-  ' + ${TestCenterName}"></h6>
                    <hr>
                    <h6  th:text="'Your appointment: ' + ${userAppointment}+'   Location: '+ ${appointmentTestCenterName}"></h6>
                    <hr>
                    <h6 th:text="' your test status:     ' + ${testCenterMessage}"></h6>
                    <hr>
                    <h6 th:text="' Infection detection center:     ' + ${idcMessage}"></h6>
                    <hr>
                    <h6 th:text="' Message from Vaccin Center:     ' + ${vaccinCenterMessage}"></h6>

                </div>
            </div>
        </div>


</body>
</html>