<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/fragment :: bootstrap"></div>
    <title>Main page</title>
    <div th:replace="fragments/fragment :: cssDash"></div>
    <style>
        #mainDiv {
            align-content: center;
        }
    </style>
</head>


<body>

<div class="card">
    <div class="card-body">
        <h1 style="text-align: center"> Make an appointment </h1>
        <table>
            <h3 style="color: blue" th:text="'You are currently Logged in ' + ${TestCenterName}" />

            <form method="get" action="/takeDate">
                <div class="form-group">
                    <label>Pick the date</label>
                    <input type="date" id="mydate" name="mydate" placeholder="choose date" required>
                </div>


                <div class="form-group">
                    <label>Choose time: </label>
                    <select select id="time" name="time" required>
                        <option th:each="p : ${timeSlots}" th:value="${p.time}" th:text="${p.time}"/>
                    </select>
                </div>
                <hr>
                <button style="float: left" type="submit" class="btn btn-primary" value="CreateList">Submit</button>
                <br>

            </form>
            <hr>
            <a style="float: left" th:href="@{/}">
                <button>Log Out</button>
            </a>
            <a style="float: right" th:href="@{/index}">
                <button>back</button>
            </a>
            <hr>

        </table>


                        <hr>
                        <table border="1" cellpadding="10">
                            <h1 style="color: blue" th:text="${cprError}"></h1>
                            <h6 th:text="${bookedAppointment}"></h6>

                            <hr>
                            <h6 th:text="${timeMatch}"></h6>
                            <br>
                            <hr>
                        </table>


                        <a th:href="@{/makeAppointment}">
                            <button>try again</button>
                        </a>
                        <a th:href="@{/makeAppointment}">
                            <button>see the booked time and date</button>
                        </a>
                        <hr>
                        <div th:replace="fragments/fragment :: testCenter">

                        </div>
<hr>
                        <table border="1" cellpadding="10">
                            <br/><br/>
                            <h6>These time slots are already taken please take different time slot than below</h6>

                            <tr>
                                <th>Year</th>
                                <th>Month</th>
                                <th>Day</th>
                                <th>Hour</th>
                                <th>Minute</th>
                                <th>Test Center Id</th>


                            </tr>
                            <tr th:each="t2 : ${appList}">
                                <td th:text="${t2.getYear()}"></td>
                                <td th:text="${t2.getMonth()}"></td>
                                <td th:text="${t2.getDay()}"></td>
                                <td th:text="${t2.getHour()}"></td>
                                <td th:text="${t2.getMinute()}"></td>
                                <td th:text="${t2.getTcID()}"></td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<hr>


<br>


<!---source of inspiration https://stackoverflow.com/questions/23671407/restrict-future-dates-in-html5-date-input -->
<div th:replace="fragments/fragment :: dateFormater"></div>

</body>
</html>