<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/fragment :: bootstrap"></div>
    <title>Main page</title>
    <div th:replace="fragments/fragment :: cssDash"></div>
    <style>
        #mainDiv {
            align-content: center;
        }
    </style>
</head>


<body>

<div class="card">
    <div class="card-body">
        <h1 style="text-align: center"> Make an appointment </h1>
        <table>
            <h3 style="color: blue" th:text="'You are currently Logged in ' + ${TestCenterName}" />


            <form method="get" action="/takeDate">
                <div class="form-group">
                    <label>Pick the date</label>
                    <input type="date" id="mydate" name="mydate" placeholder="choose date" required>
                </div>



                <div class="form-group">
                    <label>Choose center: </label>
                    <select select id="tcID" name="tcID" required>
                        <option th:each="myC : ${myCenters}" th:value="${myC.tcID}" th:text="${myC.cname}"/>
                    </select>
                </div>




                <div class="form-group">
                    <label>Choose time: </label>
                    <select select id="time" name="time" required>
                        <option th:each="p : ${timeSlots}" th:value="${p.time}" th:text="${p.time}"/>
                    </select>
                </div>
                <hr>
                <button style="float: left" type="submit" class="btn btn-primary" value="CreateList">Submit</button>
                <br>

            </form>
            <br>
            <hr>
            <div th:replace="fragments/fragment :: goBack"></div>
            <a style="float: left" th:href="@{/}">
                <button>Log Out</button>
            </a>

            <hr>

        </table>


        <h1 th:text="${appointmentDetails}"></h1>
        <h1 th:text="${mytestcenter}"></h1>


                        <hr>
                        <table border="1" cellpadding="10">
                            <h1 style="color: blue" th:text="${cprError}"></h1>
                            <h6 th:text="${bookedAppointment}"></h6>

                            <hr>
                            <h6 th:text="${timeMatch}"></h6>
                            <br>
                            <hr>
                        </table>


                        <a th:href="@{/makeAppointment}">
                            <button>try again</button>
                        </a>
                        <a th:href="@{/makeAppointment}">
                            <button>see the booked time and date</button>
                        </a>
                        <hr>
                        <div th:replace="fragments/fragment :: testCenter">

                        </div>
<hr>
                        <table border="1" cellpadding="10">
                            <br/><br/>
                            <h6>These time slots are already taken please take different time slot than below</h6>

                            <tr>

                                <th>date and time</th>
                                <th>Test Center Id</th>


                            </tr>
                            <tr th:each="t : ${allAppointments}">

                                <td th:text="${t.getLocalDateTime()}"></td>
                                <td th:text="${t.getTcID}"></td>

                            </tr>

                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<hr>


<br>


<!---source of inspiration https://stackoverflow.com/questions/23671407/restrict-future-dates-in-html5-date-input -->
<div th:replace="fragments/fragment :: dateFormater"></div>

</body>
</html>